@charset "UTF-8";

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-Light.woff2") format("woff2"), url("../fonts/FFGoodPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-LightItalic.woff2") format("woff2"), url("../fonts/FFGoodPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-Regular.woff2") format("woff2"), url("../fonts/FFGoodPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-News.woff2") format("woff2"), url("../fonts/FFGoodPro-News.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-Medium.woff2") format("woff2"), url("../fonts/FFGoodPro-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: FFGoodPro;
  font-display: swap;
  src: url("../fonts/FFGoodPro-Bold.woff2") format("woff2"), url("../fonts/FFGoodPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #262626;
  line-height: 1;
  font-family: "FF Good Pro";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FF Good Pro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  font-style: normal;
  font-weight: 400;
}

.header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.9375rem;
  margin-bottom: 1rem;
}

.header__logo {
  width: 18.8125rem;
  margin-right: 3.75rem;
  z-index: 6;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-open .header__menu {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 3.125rem;
  padding: 5px 0;
}

.menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2777777778;
  text-align: center;
  color: #333333;
}

.menu__link_active {
  font-weight: 600;
}

.menu__call {
  padding: 14px 30px;
  border: 1px solid #336FEE;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2777777778;
  text-align: center;
  color: #336FEE;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  z-index: 6;
}

.menu__call img {
  display: none;
}

.menu__languages {
  margin-left: 0.75rem;
  background: #DFECFC;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.4375;
  text-align: center;
  color: #336FEE;
  width: 3.3125rem;
  height: 3.3125rem;
}

.menu__languages .select__value {
  padding: 0px 12px;
  margin-top: 12px;
}

.menu__languages .select__options {
  top: 35px;
  background: #DFECFC;
}

.menu__languages .select__option {
  padding: 0px 12px 5px;
}

.menu__languages .select__title {
  background: #DFECFC;
  border: none;
}

.menu__languages .select__value {
  gap: 2px;
}

.menu__languages .select__value:after {
  background: url("../img/icons/select-arrow.svg") center center no-repeat;
}

.icon-menu {
  display: none;
}

/* ========== section-1 ========== */

.section-1 {
  background: url("../img/section-1/background.jpg") center 0 no-repeat;
  background-size: cover;
}

.section-1__container {
  position: relative;
  padding-bottom: 10.9375rem;
}

.section-1__title {
  width: 100%;
  max-width: 43.75rem;
  font-weight: 700;
  line-height: 1.56;
  text-transform: uppercase;
  color: #262626;
}

.section-1__description {
  width: 100%;
  line-height: 1.75;
  color: #454545;
  max-width: 37.5rem;
}

.section-1__description span {
  font-weight: 600;
}

.section-1__benefits {
  position: absolute;
  left: 0;
  bottom: -64px;
  min-height: 128px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFFFF;
  -webkit-box-shadow: -9px 9px 54px rgba(74, 85, 126, 0.1);
          box-shadow: -9px 9px 54px rgba(74, 85, 126, 0.1);
  border-radius: 12px;
}

.button {
  display: inline-block;
  background: #FFE03F;
  border-radius: 6px;
  padding: 25px 30px;
  line-height: 1.2777777778;
  font-weight: 600;
  text-align: center;
  color: #232323;
  margin-top: 50px;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefit__text {
  line-height: 1.6111111111;
  color: #323232;
}

.benefit__text span {
  font-weight: 600;
}

/* ======== End of section-1 ======== */

/* ========== Secion-2 ========== */

.section-2 {
  background-color: #fff;
}

.section-2__title {
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #272727;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__navigation {
  gap: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.tabs__title {
  padding: 15px 20px;
  background: #FAFAFF;
  border: 1px solid #C5D2DE;
  border-radius: 27px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.5625;
  color: #060606;
}

.tabs__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: -9px 9px 56px rgba(144, 151, 176, 0.08);
          box-shadow: -9px 9px 56px rgba(144, 151, 176, 0.08);
  border-radius: 13px;
}

.tabs__body {
  margin: 0 20px;
}

.tabs__body h3 {
  position: relative;
  font-size: 25px;
  line-height: 38px;
  color: #272727;
  padding: 0 90px 0 0;
}

.tabs__body h3 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url("../img/icons/answer.svg") center center no-repeat;
}

.tabs__body p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.9375;
  color: #262626;
}

.tabs__body p:not(:last-child) {
  margin-bottom: 0.375rem;
}

._tab-active {
  background: #658AE5;
  color: #FFFFFF;
}

/* ======== End of Secion-2 ======== */

.section-3 {
  background: -o-linear-gradient(86.91deg, #FFFFFF 9.74%, #F8F7FD 84.33%);
  background: linear-gradient(3.09deg, #FFFFFF 9.74%, #F8F7FD 84.33%);
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  padding: 90px 0 0;
}

.section-3__container {
  padding-top: 80px;
}

.section-3__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #272727;
  text-align: center;
  margin-bottom: 3.125rem;
}

.section-3__title span {
  text-transform: uppercase;
}

.specialists__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 65px 50px 210px;
}

.specialists__card {
  background: #FFFFFF;
  -webkit-box-shadow: -9px 9px 54px rgba(74, 85, 126, 0.1);
          box-shadow: -9px 9px 54px rgba(74, 85, 126, 0.1);
  border-radius: 40px;
  padding: 50px 50px 40px 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.specialists__image-underlay {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: -100px;
  border-radius: 50%;
  background: #FAFAFD;
  -webkit-box-shadow: inset -1px -2px 23px rgba(99, 106, 126, 0.1);
          box-shadow: inset -1px -2px 23px rgba(99, 106, 126, 0.1);
}

.specialists__image {
  position: absolute;
  width: 160px;
  height: 160px;
  top: calc(50% - 80px);
  left: 20px;
  border-radius: 50%;
}

.specialists__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.specialists__collumn {
  font-size: 16px;
  line-height: 28px;
  color: #262626;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.specialists__collumn span {
  font-weight: 600;
}

.specialists__name {
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  color: #262626;
  margin-bottom: 1.1875rem;
}

.specialists__function {
  font-size: 18px;
  line-height: 28px;
  color: #262626;
  margin-bottom: 1.875rem;
}

.specialists__function span {
  font-weight: 500;
}

.specialists__text {
  margin-bottom: 1.875rem;
}

.specialists__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #464646;
  margin-bottom: 1.875rem;
}

.specialists__quote {
  background: #F2F5FC;
  border-radius: 6px;
  padding: 0.9375rem 2.5rem 0.9375rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
}

.specialists__quote-logo {
  margin-right: 1.25rem;
}

.specialists__quote-text {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #262626;
}

.specialists__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9375rem;
}

.specialists__column img {
  width: 15px;
  height: 15px;
  margin-right: 0.375rem;
}

.button__mini {
  padding: 0.9375rem 1.875rem;
}

.button__mini_white {
  background: #FFFFFF;
  -webkit-box-shadow: -7px 9px 15px rgba(0, 0, 0, 0.08);
          box-shadow: -7px 9px 15px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.specialists__slider {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 49%;
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid #9FA4C0;
  border-radius: 50%;
}

.swiper-button-prev {
  background: url("../img/icons/arrow-left.svg") center center no-repeat;
  left: 0;
}

.swiper-button-next {
  background: url("../img/icons/arrow-right.svg") center center no-repeat;
  right: 0;
}

.thumbs__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumbs__image {
  width: 128px;
  height: 137px;
  margin: 0.9375rem 0.9375rem 1.875rem 0.9375rem;
  border-radius: 6px;
}

.thumbs__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #262626;
  text-align: center;
  margin-bottom: 0.5625rem;
}

.thumbs__sity {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #292929;
}

.thumbs__slide {
  opacity: 0.65;
}

.swiper-slide-thumb-active {
  opacity: 1;
}

.banner {
  margin-top: 3.125rem;
  background: url("../img/section-3/backgroun-big.jpg") 0 0 no-repeat;
  background-color: #ffea81;
  background-size: cover;
  padding: 20px 20px 20px 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #262626;
  border-radius: 3px;
}

.banner-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #262626;
}

.banner-text p span {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-transform: uppercase;
  color: #262626;
}

.banner-text .button {
  margin: 30px auto 20px;
}

.green-ellipse {
  width: 8px;
  height: 8px;
  background: #3ACF22;
  border-radius: 50%;
  margin-right: 0.375rem;
}

.section-4 {
  padding-top: 80px;
  padding-bottom: 50px;
}

.section-4__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
  color: #272727;
  margin-bottom: 3.75rem;
  text-align: center;
}

.section-4__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-4__column {
  border-radius: 0px 0px 16px 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 31px rgba(91, 91, 91, 0.09);
          box-shadow: 0px 4px 31px rgba(91, 91, 91, 0.09);
  border-radius: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.section-4__column_left__header {
  background: url("../img/section-4/bg-1.jpg") 0 0 no-repeat;
}

.section-4__column_right__header {
  background: url("../img/section-4/bg-2.jpg") 0 0 no-repeat;
}

.section-4__header {
  position: relative;
  padding: 3.125rem 2.5rem 3.375rem 2.5rem;
}

.section-4__header h3 {
  max-width: 55%;
  line-height: 1.3;
}

.section-4__header img {
  position: absolute;
  top: -50px;
  right: -20px;
  width: 50%;
  max-width: 300px;
}

.section-4__body {
  padding: 2.5rem;
}

.section-4__body p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #262626;
}

.section-4__body p span {
  font-weight: 500;
}

.section-4__footer {
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.section-4__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.section-4__price-collumn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.section-4__price-collumn_right {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  background: #F2F5FC;
  border-radius: 4px;
  padding: 0.9375rem 1.25rem;
}

.section-4__price-collumn_right span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 83.125em) {
  .section-1__container {
    padding-top: 7.8125rem;
  }

  .section-1__title {
    margin-bottom: 1.5625rem;
  }

  .section-1__title {
    font-size: 3.125rem;
  }

  .section-1__description {
    font-size: 1.5rem;
  }

  .section-1__description {
    margin-bottom: 2.5rem;
  }

  .section-1__benefits {
    gap: 2.1875rem;
  }

  .button {
    font-size: 1.125rem;
  }

  .benefit__text {
    font-size: 1.125rem;
  }

  .section-2__container {
    padding-top: 9.625rem;
  }

  .section-2__container {
    padding-bottom: 5.625rem;
  }

  .section-2__title {
    font-size: 2.5rem;
  }

  .section-2__title {
    margin-bottom: 3.125rem;
  }

  .tabs__body h3 {
    margin-bottom: 1.875rem;
  }

  .section-4__row {
    gap: 3.125rem;
  }

  .section-4__header h3 {
    font-size: 2rem;
  }
}

@media (min-width: 85em) {
  .menu__item {
    margin-right: 3.125rem;
  }
}

@media (max-width: 1200px) {
  .menu__call {
    padding: 14px 25px;
  }
}

@media (max-width: 20em) {
  .section-1__container {
    padding-top: 2.1875rem;
  }

  .section-1__title {
    margin-bottom: 0.3125rem;
  }

  .section-1__title {
    font-size: 1.375rem;
  }

  .section-1__description {
    font-size: 0.9375rem;
  }

  .section-1__description {
    margin-bottom: 1rem;
  }

  .section-1__benefits {
    gap: 1.25rem;
  }

  .button {
    font-size: 0.9375rem;
  }

  .benefit__text {
    font-size: 0.9375rem;
  }

  .section-2__container {
    padding-top: 2.5rem;
  }

  .section-2__container {
    padding-bottom: 3.125rem;
  }

  .section-2__title {
    font-size: 1.5625rem;
  }

  .section-2__title {
    margin-bottom: 1.875rem;
  }

  .tabs__body h3 {
    margin-bottom: 1.125rem;
  }

  .section-4__row {
    gap: 0.0000000625rem;
  }

  .section-4__header h3 {
    font-size: 1.625rem;
  }
}

@media (max-width: 87.5em) {
  .specialists__card {
    padding: 50px 50px 40px 120px;
  }
}

@media (max-width: 81.25em) {
  .specialists__slide {
    padding: 50px 60px 50px 150px;
  }
}

@media (max-width: 71.875em) {
  .specialists__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .specialists__collumn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .specialists__name {
    margin-bottom: 0.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__item {
    margin-right: 2.8125rem;
  }

  .menu__call {
    border: none;
    padding: 0;
  }

  .menu__call span {
    display: none;
  }

  .menu__call img {
    display: block;
    width: 3.3125rem;
    height: 3.3125rem;
  }

  .tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tabs__navigation {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .tabs__title {
    padding: 12px 15px 13px;
  }

  .tabs__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-top: 30px;
  }

  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 90px 20px 20px 20px;
  }

  .banner-text h3 {
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
  }

  .banner-text p {
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-4__header {
    padding-bottom: 15px;
  }
}

@media (max-width: 47.99875em) {
  .header__logo {
    width: 12.5rem;
  }

  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
    min-height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f5f3fe;
    overflow-x: auto;
    z-index: 5;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin: 14px auto;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__call {
    position: absolute;
    top: 5px;
    right: 60px;
  }

  .menu__languages {
    margin: 0.625rem auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 6;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .section-1 {
    background: url("../img/section-1/background-mobile.jpg") center center no-repeat;
    background-color: #f5f3fe;
    background-size: contain;
    margin-bottom: 10.625rem;
  }

  .section-1__container {
    padding-bottom: 13.75rem;
  }

  .section-1__title {
    text-align: center;
    max-width: 100%;
  }

  .section-1__description {
    text-align: center;
    max-width: 100%;
  }

  .section-1__benefits {
    bottom: -190px;
  }

  .section-1 .button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 300px;
  }

  .benefit {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .tabs__title {
    padding: 10px 15px 11px;
  }

  .specialists__slide {
    padding: 50px 20px 50px 105px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .section-4__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-4__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 36.25em) {
  .section-3 .button {
    width: 100%;
  }

  .specialists__slide {
    padding: 20px;
  }

  .specialists__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }

  .specialists__image-underlay {
    position: relative;
    top: initial;
    left: initial;
    margin: 0 auto 20px;
  }

  .specialists__quote {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    width: 11.5rem;
  }

  .section-1 {
    margin-bottom: 360px;
  }

  .section-1__benefits {
    bottom: -350px;
  }

  .benefit {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .tabs__title {
    padding: 7px 15px 8px;
  }

  .section-4__header img {
    top: -30px;
  }
}

@media (min-width: 48em) and (max-width: 85em) {
@supports (margin-right: clamp( 1.5625rem , -0.464527027rem  +  4.222972973vw , 3.125rem )) {
    .menu__item {
      margin-right: clamp( 1.5625rem , -0.464527027rem  +  4.222972973vw , 3.125rem );
    }
}

@supports not (margin-right: clamp( 1.5625rem , -0.464527027rem  +  4.222972973vw , 3.125rem )) {
    .menu__item {
      margin-right: calc(1.5625rem + 1.5625 * (100vw - 48rem) / 37);
    }
}
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (padding-top: clamp( 2.1875rem , 0.4053217822rem  +  8.9108910891vw , 7.8125rem )) {
    .section-1__container {
      padding-top: clamp( 2.1875rem , 0.4053217822rem  +  8.9108910891vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.4053217822rem  +  8.9108910891vw , 7.8125rem )) {
    .section-1__container {
      padding-top: calc(2.1875rem + 5.625 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.083539604rem  +  1.9801980198vw , 1.5625rem )) {
    .section-1__title {
      margin-bottom: clamp( 0.3125rem , -0.083539604rem  +  1.9801980198vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.083539604rem  +  1.9801980198vw , 1.5625rem )) {
    .section-1__title {
      margin-bottom: calc(0.3125rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.375rem , 0.8205445545rem  +  2.7722772277vw , 3.125rem )) {
    .section-1__title {
      font-size: clamp( 1.375rem , 0.8205445545rem  +  2.7722772277vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 0.8205445545rem  +  2.7722772277vw , 3.125rem )) {
    .section-1__title {
      font-size: calc(1.375rem + 1.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.7592821782rem  +  0.8910891089vw , 1.5rem )) {
    .section-1__description {
      font-size: clamp( 0.9375rem , 0.7592821782rem  +  0.8910891089vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.7592821782rem  +  0.8910891089vw , 1.5rem )) {
    .section-1__description {
      font-size: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.5247524752rem  +  2.3762376238vw , 2.5rem )) {
    .section-1__description {
      margin-bottom: clamp( 1rem , 0.5247524752rem  +  2.3762376238vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.5247524752rem  +  2.3762376238vw , 2.5rem )) {
    .section-1__description {
      margin-bottom: calc(1rem + 1.5 * (100vw - 20rem) / 63.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.952970297rem  +  1.4851485149vw , 2.1875rem )) {
    .section-1__benefits {
      gap: clamp( 1.25rem , 0.952970297rem  +  1.4851485149vw , 2.1875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.952970297rem  +  1.4851485149vw , 2.1875rem )) {
    .section-1__benefits {
      gap: calc(1.25rem + 0.9375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem )) {
    .button {
      font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem )) {
    .button {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem )) {
    .benefit__text {
      font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.9375rem , 0.8780940594rem  +  0.297029703vw , 1.125rem )) {
    .benefit__text {
      font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.2425742574rem  +  11.2871287129vw , 9.625rem )) {
    .section-2__container {
      padding-top: clamp( 2.5rem , 0.2425742574rem  +  11.2871287129vw , 9.625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.2425742574rem  +  11.2871287129vw , 9.625rem )) {
    .section-2__container {
      padding-top: calc(2.5rem + 7.125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.3329207921rem  +  3.9603960396vw , 5.625rem )) {
    .section-2__container {
      padding-bottom: clamp( 3.125rem , 2.3329207921rem  +  3.9603960396vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.3329207921rem  +  3.9603960396vw , 5.625rem )) {
    .section-2__container {
      padding-bottom: calc(3.125rem + 2.5 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.265470297rem  +  1.4851485149vw , 2.5rem )) {
    .section-2__title {
      font-size: clamp( 1.5625rem , 1.265470297rem  +  1.4851485149vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.265470297rem  +  1.4851485149vw , 2.5rem )) {
    .section-2__title {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .section-2__title {
      margin-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .section-2__title {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1.125rem , 0.8873762376rem  +  1.1881188119vw , 1.875rem )) {
    .tabs__body h3 {
      margin-bottom: clamp( 1.125rem , 0.8873762376rem  +  1.1881188119vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.8873762376rem  +  1.1881188119vw , 1.875rem )) {
    .tabs__body h3 {
      margin-bottom: calc(1.125rem + 0.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (gap: clamp( 0.0000000625rem , -0.9900989276rem  +  4.9504949505vw , 3.125rem )) {
    .section-4__row {
      gap: clamp( 0.0000000625rem , -0.9900989276rem  +  4.9504949505vw , 3.125rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.9900989276rem  +  4.9504949505vw , 3.125rem )) {
    .section-4__row {
      gap: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.625rem , 1.5061881188rem  +  0.5940594059vw , 2rem )) {
    .section-4__header h3 {
      font-size: clamp( 1.625rem , 1.5061881188rem  +  0.5940594059vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.5061881188rem  +  0.5940594059vw , 2rem )) {
    .section-4__header h3 {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .button:hover {
    -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
  }

  .tabs__title:hover {
    -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    cursor: pointer;
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3px 0.3px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
  }

  .thumbs__slide:hover {
    cursor: pointer;
    -webkit-box-shadow: -6px 4px 14px rgba(74, 85, 126, 0.1);
            box-shadow: -6px 4px 14px rgba(74, 85, 126, 0.1);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
}